@use "../utils/vars";

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
  color: var(--text-primary);
}
body {
  font-family: "Sora";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary);
  transition: background-color vars.$normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
main,
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
button,
a {
  color: inherit;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.no-scroll {
  overflow: hidden;
}
